<div class='dash-container'>
  <section class='header-container'>
    <h2 class='header-title'>Create a new post</h2>
  </section>
  <section class='form-container'>
    <form id='new-post-form' class='new-post-form'>
      <label for='dash-title' class='dash-title-label'>Title</label>
      <input type='text' id='dash-title' class='dash-title-input' />
      <label for='dash-content' class='dash-content-label'>Content</label>
      <textarea
        id='dash-content'
        class='dash-content-input'
        rows='10'
      ></textarea>
      <button class='dash-btn'>Create</button>
    </form>
  </section>
</div>

<script src="/js/dashboard.js" ></script>