<div class="homepage-header">
  <h2 class="homepage-title">Recent Post's</h2>
</div>

<div class="post-container">
  <section class="post-card">
    <h3 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
    <p class="post-date">05/23/22</p>
  </section>
</div>